
body{
  background: #e3e3e3;

}

.my-container {
  position: relative;
  overflow: hidden;
}

.my-container::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  background-image: url(img\\imgForMain.jpg);
  background-repeat: no-repeat center cetner fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o- background-size: cover;
  background-size: cover;
}
  h1{
    font-size:45px;
    text-align: center;
  }

/* Navigaion Bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.column{
  float: left;
  width: 33.333%;
  padding: 15px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px){
  .column{
    width: 100%
  }
}
